@font-face {
    /*给字体命名*/
    font-family: 'YouSheBiaoTiHei';
    /*引入字体文件*/
    src: url('./YouSheBiaoTiHei.ttf');
    font-weight: normal;
    font-style: normal;
 }
@font-face {
  font-family: 'SourceHanSansSC';
  src: url('./SourceHanSansSC.otf') ;
  font-weight: normal;
  font-style: normal;
}